:root {
  --true-width: 192px;
  --true-height: 144px;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
  background-color: #000;
  image-rendering: pixelated;
  /* https://stackoverflow.com/a/11237968 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 240px; /* 224 + 16 */
  height: 184px; /* 176 + 8 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: var(--true-width);
  height: var(--true-height);
  background-color: #000;
  padding: 16px;
}

.grid table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: -6px;
}

.grid table td {
  text-align: center;
  padding: 0;
}

.card-tile {
  object-fit: none;
  width: 32px;
  height: 48px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.card-tile-flip-forward {
  animation-name: card-tile-flip-forward;
  animation-duration: 256ms;
  animation-timing-function: steps(3, jump-none);
  animation-fill-mode: forwards;
}

@keyframes card-tile-flip-forward {
  from {
    object-position: -32px 0
  }
  to {
    object-position: -96px 0
  }
}

.card-tile-hidden {
  object-position: 0 0;
}

.card-tile-mushroom {
  object-position: -64px -48px;
}

.card-tile-flower {
  object-position: -96px -48px;
}

.card-tile-coins10 {
  object-position: 0 -48px;
}

.card-tile-coins20 {
  object-position: -32px -48px;
}

.card-tile-star {
  object-position: -128px -48px;
}

.card-tile-oneup {
  object-position: -128px 0;
}
